<script type="text/javascript">
    $(function () {
        FirstProject.selectTab(<%= @tab.to_json.html_safe %>);

        window.router = new FirstProject.Routers.FriendsRouter({
            friends: <%= @friends.to_json.html_safe %>
        });

        window.router.index();
    });
</script>

<div class="digg_pagination">
  <div class="page_info">
    <%= page_entries_info @paginate_simulator, model: @tab %>
  </div>
  <div id="friends"></div>
  <%= will_paginate @paginate_simulator, :container => false %>
</div>